# ==========================================
# POSTGRESQL CONFIGURATION
# ==========================================
POSTGRES_USER=safecred_admin
POSTGRES_PASSWORD=
POSTGRES_DB=safecred_db
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# ==========================================
# MONGODB CONFIGURATION
# ==========================================
MONGO_INITDB_ROOT_USERNAME=mongo_admin
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/

# ==========================================
# REDIS & CELERY CONFIGURATION
# ==========================================
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=${REDIS_URL}
CELERY_RESULT_BACKEND=${REDIS_URL}

# ==========================================
# KAFKA CONFIGURATION
# ==========================================
ZOOKEEPER_CLIENT_PORT=2181
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# ==========================================
# MINIO (OBJECT STORAGE) CONFIGURATION
# ==========================================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=

# ==========================================
# KEYCLOAK (IAM) CONFIGURATION
# ==========================================
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
KC_DB_USERNAME=${POSTGRES_USER}
KC_DB_PASSWORD=${POSTGRES_PASSWORD}

# ==========================================
# VAULT CONFIGURATION
# ==========================================
VAULT_ADDR=http://vault:8200
VAULT_TOKEN=
